*{
    padding: 0%;
    margin: 0%;
}
html,body{
    height:100%;
    width: 100%;
    display:flex;
    align-items: centre;
    justify-content: center;
    background-color: rgb(226, 205, 43);
}
#main{
    height:100%;
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.shape{height:200px;
    width:200px;
    border-style:solid;
    border-color:rgba(44, 43, 43, 0.907) ;
    margin-left:10px;
    margin-bottom:50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
 #circle{
    border-radius: 50%;
 }
 #circle:hover{
    background-color: green;

 }
 #diamond{
    rotate:-45deg;
 }
 #diamond:hover{
    background-color: blue;
 }
 #square:hover{
    background-color: red;
 }
 h1{
    font-weight: 200;
 }